@media (max-width:360px){
    .slider_section .detail-box h1 {
        font-weight: bold;
        font-size: 2rem;
      }
      .slider_section .detail-box p {
        font-weight: 200;
        font-size: 0.6rem;
      }
}